*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*headEr*/

header{
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px;
}

/*main*/

.btn-card{
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn{
  background-color: #0d6efd;
  border: #0d6efd;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-right: 20px;
}

.description-card{
  width: 800px;
  border: 2px solid black;
  border-radius: 15px;
  margin: 0 auto;
  padding: 25px;
}