*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*headEr*/

header{
  background-color: #f8f9fa;
  text-align: center;
  padding: 20px;
}

/*main*/

.btn{
  background-color: #0d6efd;
  color: white;
  padding: 10px;
}

.button-container{
  display: flex;
  padding-top: 50px;
  justify-content: space-evenly;
}